## Day2 Assignment- Python Essential

### *Question 1:*
#### Try 5 Different functions of the String in Python.
#### For example - index, split function.

In [1]:
#1. Index
name = "Subhajit Mondal"
name.index("a")

4

In [2]:
#2. Concatinate the String together
name = "Subhajit Mondal"
address= "Kolkata, West Bengal"
name +", "+ address

'Subhajit Mondal, Kolkata, West Bengal'

In [3]:
#3. Split
name.split()

['Subhajit', 'Mondal']

In [4]:
#4. Length
print(len(name))

15

In [5]:
#5. Upper Case
print(name.upper())

SUBHAJIT MONDAL

### Question 2:
#### Try 5 Different functions of the List object in Python

In [6]:
#1. Indexing
my_lst= [2,5,8,10,'Subhajit','abc',3.5,7.8,9]
my_lst[5]

'abc'

In [7]:
#2. Slicing
print(my_lst[2:5])

[8, 10, 'Subhajit']

In [8]:
#3. append
my_lst.append('room')
my_lst

[2, 5, 8, 10, 'Subhajit', 'abc', 3.5, 7.8, 9, 'room']

In [9]:
#4. Insert
my_lst.insert(3,'welcome')
my_lst

[2, 5, 8, 'welcome', 10, 'Subhajit', 'abc', 3.5, 7.8, 9, 'room']

In [10]:
#5. Delete
del my_lst[2]
my_lst # 8 will be deleted

[2, 5, 'welcome', 10, 'Subhajit', 'abc', 3.5, 7.8, 9, 'room']

### Question 3
#### Experiment with at least 5 default functions of Dictionary

In [11]:
#1. Accessing Key
dict = {"Name":"Subhajit", "Age":30, "Height":5.11, "Address":"Kolkata, West Bengal"}
dict["Name"]

'Subhajit'

In [12]:
dict.get('Age')

30

In [13]:
#2. update value
dict['Age'] = 28
dict

{'Name': 'Subhajit',
 'Age': 28,
 'Height': 5.11,
 'Address': 'Kolkata, West Bengal'}

In [14]:
#3. Removing Element
dict.pop('Age')
dict

{'Name': 'Subhajit', 'Height': 5.11, 'Address': 'Kolkata, West Bengal'}

In [15]:
#4. Add item
dict['Age'] = 30
dict

{'Name': 'Subhajit',
 'Height': 5.11,
 'Address': 'Kolkata, West Bengal',
 'Age': 30}

In [16]:
#5. Remove all items
dict.clear()
dict

{}